<div class="content">
  <mat-card>
    <mat-card-content class="outline">
      <mat-card class="example-card">
        <mat-card-header class="heading">
          <mat-card-title  >NOKIA</mat-card-title>
          <mat-card-subtitle color="black">FACILIVISS</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login-form">
            <mat-form-field appearance="outline" class="form-group">
              <mat-label>
                <img src="assets/logo.png" alt="Logo" height="20" width="20" style="margin-right: 5px;">
                EMAIL
              </mat-label>
              <input matInput type="email" id="email" name="email" [(ngModel)]="email" #emailInput="ngModel" required>
              <mat-error *ngIf="emailInput.errors?.['required']">Email is required.</mat-error>
              <mat-error *ngIf="emailInput.errors?.['email']">Please enter valid email.</mat-error>
            </mat-form-field>
          
            <mat-form-field appearance="outline" class="form-group">
              <mat-label>
                <img src="assets/Unknown.png" alt="Logo" height="20" width="20" style="margin-right: 5px;">
                PASSWORD
              </mat-label>
               <input matInput type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" [(ngModel)]="password" #passwordInput="ngModel"
                required minlength="6">
              <mat-icon matSuffix (click)="showPassword = !showPassword">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
              <mat-error *ngIf="passwordInput.errors?.['required']">Password is required.</mat-error>
              <mat-error *ngIf="passwordInput.errors?.['minlength']">Password should be minimum 6 characters.</mat-error>
            </mat-form-field>
          <h5>Forgot Password ?</h5>
            <button *ngIf="!submitted" mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Submit</button>
            <div *ngIf="submitted" class="alert alert-success">
             <h2>SUCCESS!!!</h2> 
            </div>
          </form>
          
                  </mat-card-content>
       
      </mat-card>
    </mat-card-content>
  </mat-card>
  
</div>



